*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF5E4;
  color: #850E35;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* top heading and button styling */
h1 {
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.heading-container {
  margin: 2em 0 5em 0;
}

.add-new-button-container {
  align-self: center;
}

.btn {
  background: transparent;
  border: none;
  padding: 1em 2em;
  background-color: #850E35;
  color: #fff;
  font-weight: 700;
  border-radius: 9px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #FFC4C4;
  color: #850E35;
}

/* top heading and button styling */

/* empty library */
.text-align-center {
  text-align: center;
}

.no-data-found-container {
  max-width: 500px;
  margin: 0 auto;
}

.no-data-found-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* empty library */
