*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF5E4;
  color: #850E35;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* top heading and button styling */
h1,
h2 {
  margin: 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.heading-container {
  margin: 2em 0 5em 0;
}

.add-new-button-container {
  align-self: center;
}

.btn {
  background: transparent;
  border: none;
  padding: 1em 2em;
  background-color: #850E35;
  color: #fff;
  font-weight: 700;
  border-radius: 9px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

/* top heading and button styling */

/* empty library */
.text-align-center {
  text-align: center;
}

.no-data-found-container {
  max-width: 500px;
  margin: 0 auto;
}

.no-data-found-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* empty library */

/* book card styling */

.book-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-direction-col {
  flex-direction: column;
}

.book-card {
  background-color: #fff;
  max-width: 300px;
  border-radius: 9px;
  padding: 1em 1.5em;
}

.book-card+.book-card {
  margin-left: 2em;
}

.book-img-container {
  width: 100%;
}

.book-img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.status-show {
  display: inline-block;
}

.status-hide {
  display: none;
}
/* book card styling */

/* Modal Styling */

.font-size-medium {
  font-size: 1.5rem;
}

.btn-no-bg {
  background: none;
  color: #850E35;
  padding: 0;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  z-index: 10;
  background-color: rgb(255, 255, 255);
  width: 50%;
  max-width: 800px;
  border-radius: 5px;
  margin: 5% auto;
}

.modal-padding {
  padding: 1em;
}

.required {
  color: rgb(138, 17, 17);
}

.form-input {
  display: block;
  width: 100%;
  padding: .45em .5em;
  border-radius: 5px;
  border: 1px solid rgb(157, 155, 155);
  margin-top: 1em;
  font-size: 14px;
  font-family: Geneva, Verdana, sans-serif;
}

.form-input-container {
  margin-bottom: 1em;
  width: 100%;
}

.form-input-container+.form-input-container {
  margin-left: 1em;
}

.additional-info-tooltip {
  font-size: 14px;
  color: lightslategray;
  cursor: pointer;
  position: relative;
  display: inline-block;
}


.additional-info-tooltip .tooltip-info {
  display: none;
  position: absolute;
  top: -50px;
  right: -90px;
  width: 12rem;
  background-color: lightgray;
  border-radius: 4px;
  color: #850E35;
  text-align: center;
  padding: 0.25em;
}

.additional-info-tooltip:focus .tooltip-info,
.additional-info-tooltip:hover .tooltip-info {
  display: inline-block;
}

.additional-info-tooltip:hover .tooltip-info::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 83px;
  bottom: -10px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid lightgray;
}


.text-align-right {
  text-align: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Modal Styling */